<!DOCTYPE html>
<html lang="en">
<head>
    <script src="utf8.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
<div class="container">
    <div class="info">
            <div id="true" style="color: green">True: <strong><%= trues %></strong> </div>
            <div id="false" style="color: red">False: <strong><%= falses %></strong> </div>
    </div>
    <form action="/" method="POST">
            <p><%= word %></p>
        <input  type="text" name="cevap">
        <div class="buttons">
            <button type="submit" name="pass"    value="pass"   id="pass"><i class="material-icons" id="t_pass">autorenew</i></button>
            <button type="submit" name="send"    value="send"   id="send"><i class="material-icons" id="t_send">send</i></button>
            <button type="submit" name="answer"  value="answer" id="answer"><i class="material-icons" id="t_answer">insert_drive_file</i></button>
        </div>
    </form>
    <div class="answer">
            <% if(result){ %>
            <p><%= result %></p> 
            <% } %>
        </div>
</div>
</body>
</html>